* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さいっぱいに表示するため */
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.navigation {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-title {
  height: 70px;
}

.nav-list-item {
  display: inline-block;
  margin: 0 20px;
  color: #FAFAFA;
  font-size: 16px;
  margin: 0px 30px;
}

main {
  width: 100%;
}

.main1 {
  background-image: url(img/mv.png);
  background-size: cover;
}

.main1-visual {
  height: 650px;
  width: 1024px;
  text-align: center;
  padding-top: 200px;
  margin:0 auto;
}

.main1-visual-title {
  font-size: 64px;
  color: #FAFAFA;
}

.main1-visual-paragraph {
  font-size: 20px;
  color: #FAFAFA;
}

.main2 {
  background-color: 
}